.navbar-pokemon {
  background-color: #d01717;
  color: aliceblue !important;
  width: 100%;
  border: 1px solid black;
  box-shadow: inset;
}


.navbar-icon{
  background-color: black;
  display: flex;
  border-radius: 100%;
  width: 30%;
}

.row {
  padding: 0;
  --bs-gutter-x: 0;
}

.navbar-elements {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.PokeTitle {
  display: flex;
  justify-content: center;
}

.pokemon-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.SearchBar {
  display: flex;
  justify-content: center;
  align-content: flex-end;
  padding: 1rem;
}

::-webkit-scrollbar {
  width: 10px;
}
